.badgebox {
    opacity: 0;
}

.badgebox+.badge {
    text-indent: -999999px;
    width: 25px;
}

.badgebox:focus+.badge {
    box-shadow: inset 0px 0px 5px;
}

.badgebox:checked+.badge {
    text-indent: 0;
}

.btn {
  margin-bottom: 5px !important;
  width: 125px;
}
