#contact-container {
    margin: 0;
}

.circular {
    display: inline-block;
    width: 17vw;
    height: 17vw;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .8);
    transition: all 0.5s ease-in-out;
}

.circular:hover {
    box-shadow: 0 0 60px black;
    background-image: none;
    background-color: transparent;
}

figure figcaption {
    text-align: center;
    margin-top: 20px;
}

figcaption span {
    display: block;
    font-size: 1.9vw;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .8);
    transition: opacity 0.5s ease-out;
}

li span {
  cursor: default;
}
