body {
    overflow: hidden;
}

.random_eat_button {
    border-radius: 50%;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 35px;
    padding: auto;
    width: 50vh;
    height: 50vh;
    transition: all 0.5s ease-in-out;
    margin: auto;
    display: block;
    outline: none;
}

.random_eat_button:hover {
    transform: scale(1.1);
}

#random_label {
    transition: all 0.5s ease-in-out;
    z-index: 5;
    margin: auto;
}

#random_label:hover {
    transform: scale(1.4);
}

#wrapper {
    background-color: transparent;
    box-shadow: none;
}

#bottombar-wrapper {
    overflow: hidden;
    background-color: #333333;
    width: 100%;
    height: 27vh;
    white-space: nowrap;
}

#bottombar .text {
    display: inline-block;
    color: white;
    text-align: left;
    width: 33.33%;
    height: 100%;
}

#bottombar .text>.row {
    padding: 10px;
}

#bottombar .text:hover {
    background-color: #111111;
}

#latest-review-img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    overflow: hidden;
}

@media (max-width: 1200px) {
    .caption {
        z-index: 2;
        display: block;
        position: absolute;
        margin: 10px;
        text-shadow: 0 2px 3px rgba(0, 0, 0, .8);
    }
    .caption>a{
      text-shadow: none;
    }
}
