.random_eat_button {
  border-radius: 50%;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 35px;
  padding: auto;
  width: 400px;
  height: 400px;
  transition: all 0.5s ease-in-out;
  margin: auto;
  display: block;
}

.random_eat_button:hover {
  transform: scale(1.1);
}

#random_label {
  transition: all 0.5s ease-in-out;
  z-index: 25;
}

#random_label:hover {
  transform: scale(1.4);
}

#wrapper {
  background-color: transparent;
  box-shadow: none;
}
