h3 {
    word-wrap: break-word;
}

.stylish-panel {
    text-align: center;
    width: 100%;
}

.stylish-panel>.row>div>a>div {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
}

.stylish-panel>.row>div:hover>a>div {
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: rgba(200, 200, 200, 0.1);
    transition: 0.5s;
    background-image: none;
    background-color: transparent;
}

.stylish-panel>div img {
    border-radius: 35%;
    width: 15vw;
    height: 15vw;
}
